@charset "utf-8";
/* NHN (developers@xpressengine.com) */

/* Default Skin - Start */
#selectLang{margin:0;padding:0}
#gnb{margin:0;padding:0}
#lnb{margin:0;padding:0}
#lnb ul{margin:0;padding:0}
/* Site Layout - Body Wrap */
body{background:#fff url(../images/default2/bg_body.gif) repeat-x 0 0;font-family:Arial}
#bodyWrap{position:relative;width:960px;margin:0 auto}
/* Site Layout - Header */
#header{position:relative;width:960px;height:105px;margin-bottom:10px; z-index:100}
#header h1{position:absolute;top:17px;left:0;margin:0;padding:0}
#header .top_area{ background:url(../images/default2/bg_top_area.gif) repeat-x; width:289px; height:30px; line-height:30px; float:right;}
#language{margin:-1px 0 0 5px;font-family:Arial, Helvetica, sans-serif; float:left;}
#language dt{float:left;margin-right:8px;color:#fff; padding:0 9px 0 0; background:url(../images/default2/line_language.gif) no-repeat 100% 12px;}
#language dd{float:left;position:relative; margin:0; margin-right:8px;}
#language dd a{display:block;color:#fff;font-size:12px;text-decoration:none; background:url(../images/default2/ico_arw.gif) no-repeat 100% 50%; padding:0 10px 0 0}
#language ul{position:absolute;top:30px;left:-1px;width:69px;background:#020202; z-index:100; border-radius:0 0 5px 5px}
#language ul li{height:16px;line-height:16px;list-style:none; padding-left:5px;}
#language ul li a{display:block;width:69px;background:none;color:#fff;font:11px Tahoma;text-align:left;text-decoration:none}
#language ul li a:hover{}
.btn_login{position:absolute;top:16px;right:159px}
#it_search_form{position:absolute;top:50px;right:15px}
#it_search_form .input{width:120px;height:17px;border:1px solid #bc4032;color:#888;font-size:.9em}
#it_search_form .submit_button{visibility:hidden;width:1px;height:1px}

/* gnb */
.gnb{position:absolute;top:71px;left:0; width:960px;height:34px;margin:0;padding:0;white-space:nowrap; background:url(../images/default2/bg_gnb.gif) no-repeat}
.gnb ul{margin:0;padding:0}
.gnb li{float:left;position:relative;height:34px;padding-right:2px;padding-right:2px;background:url(../images/default/bgGnbVr.gif) no-repeat 100% 50%;line-height:34px;list-style:none}
.gnb li.home .sub{ left:-1px}
.gnb li.home a:hover{ background:url(../images/default2/bg_gnb_home.gif) no-repeat 0 0;}
.gnb ul li a:hover{ background:url(../images/default2/bg_gnb4.gif) repeat-x;}
.gnb ul li a{display:block;padding:0 18px 0 17px;color:#3f4140;font-size:14px;font-weight:bold;text-decoration:none;height:34px;}
.gnb ul li .sub{position:absolute;top:33px;left:-2px;z-index:300;margin:0;padding:0;border:1px solid #acacac;  border-radius:0 0 5px 5px;background:#fff; z-index:500}
.gnb ul li .sub li{clear:both;height:30px;margin:0;padding:0;background:none;line-height:30px;text-align:center;*zoom:1}
.gnb ul li .sub li a{background:none;color:#9fa09f;}
.gnb ul li .sub li a:hover{background: url(../images/default2/bg_gnb3.gif) repeat-x; color:#fff!important;text-decoration:none}
#isSearch{}
#isSearch .searchOrder{display:none}
#isSearch .checked{display:block;position:absolute;top:0;left:0;width:64px;height:14px;padding:5px 0 0 5px;background:url(../images/default/bgSearchTerm.gif) no-repeat;color:#fff;font:11px '돋움', Dotum, '굴림', Gulim, AppleGothic, Sans-serif;line-height:normal;text-align:left}
*:first-child+html #isSearch .checked{top:1px}
#isSearch ul{display:none;position:absolute;top:18px;left:0;padding:2px 0 3px;border:1px solid #919898;background:#536c6d;text-align:left}
#isSearch ul li{width:67px;height:18px;list-style:none}
#isSearch ul li input{display:none}
#isSearch ul li label{display:block;width:63px;height:15px;padding:4px 0 0 4px;color:#fff;font:11px '돋움', Dotum, '굴림', Gulim, AppleGothic, Sans-serif}
#isSearch ul li label.on{background:#455a5b}
#isSearch ul li label:hover,
#isSearch ul li label:focus{background:#455a5b}
#isSearch .inputText{width:110px;border:1px solid #c9c7c7;background:#f1f1f1 url(../images/default/ico_search.gif) no-repeat 6px 50%;zoom:1;border-radius:4px; height:15px; line-height:15px; margin-top:5px; padding-left:20px}
#isSearch .searchOrder{display:none}
#isSearch .inputText:hover,
#isSearch .inputText:focus{}
*:first-child+html body#default #isSearch .inputText{position:relative;top:-1px}
#isSearch .submit{_position:relative;_top:-1px;vertical-align:middle}
*:first-child+html body#default #isSearch .submit{position:relative;top:-1px}
/* Site Layout - Content Body */
#contentBody{position:relative;width:947px;padding-bottom:30px;*zoom:1; overflow:hidden; margin-top:32px;}
#contentBody:after{display:block;clear:both;content:''}
/* Site Layout - Column Left */
#columnLeft{float:left;width:195}
#columnLeft .mask{display:block;clear:both;width:201px;height:5px;background:#fff}
/* Site Layout - Column Right */
#columnRight{float:right;width:714px; border-left:1px solid #cacdda; overflow:hidden; padding:0 0 0 16px; margin:0 0 0 14px}
#columnRight:after{display:block;clear:both;content:''}
#visualArea{position:relative;left:-15px;width:770px;height:200px;margin-right:-15px;margin-bottom:2.5em;background:#f5f5f5}
#content{overflow:hidden;width:100%}
#columnLeft .info{overflow:hidden;margin-bottom:10px;background:#fff;zoom:1;}
#columnLeft .info .search{margin:0;padding:0}
#columnLeft .lnb{ overflow:hidden;border:1px solid #d4d4d4}
#columnLeft .lnb h2{margin:0; background:#e5e4e4}
#columnLeft .lnb h2 a{margin:0;padding-left:22px;color:#546d82;font-size:14px;line-height:28px;text-decoration:none}
#columnLeft .lnb .list{margin:0;padding:0 0 14px;}
#columnLeft .lnb .list li{height:22px;margin:0;padding:0;line-height:22px;list-style:none}
#columnLeft .lnb .list li a{display:block;padding-left:22px;color:#3a3a3a;text-decoration:none;*zoom:1}
#columnLeft .lnb .list li.on{ font-weight:bold}
/* Site Layout - Footer */
#footer{clear:both;margin:0;padding:11px 0 46px;border-top:1px solid #dbdbdb;text-align:left}
#footer li.first-child{background:none}
#footer li a{color:#999;font:.9em '돋움', Dotum, '굴림', Gulim, AppleGothic, Sans-serif}
#footer address{color:#9fa09f;font-style:normal}
#footer address strong{margin-left:4px}
